<header>
        <nav>
            <ul> <!--Menu-->
                <li><a href = "index_controller.php?seccion=home" target = "_top" title = "home">Home<br></a></li>
                <li><a href = "index_controller.php?seccion=juegosPopulares" target = "_top" title = "juegosPopulares">Juegos Populares</a></li>
                <li><a href = "index_controller.php?seccion=juegosNuevos" target = "_top" title = "juegosNuevos">Juegos Nuevos</a></li>
                <li><a href = "index_controller.php?seccion=juegosDestacados" target = "_top" title = "juegosDestacados">Juegos Destacados</a></li>
                <li><a href = "index_controller.php?seccion=juegosMasComentados" target = "_top" title = "juegosMasComentados">Juegos Mas Comentados</a></li>
            </ul>
            <button id="inicioSesion"><a href = "index_controller.php?seccion=4&connect=1" target = "_top" title = "inicioSesion">Iniciar Sesion<br></a></button>
        </nav>
</header>